<!-- <mat-card class="card">
    <mat-card-title class="titleProd"> CATEGORIA </mat-card-title>
    <div class="table">
        <table>
            <thead>
                <div>
                    <tr
                        style="
                            margin-bottom: 20px;
                            font-size: 16px;
                            font-weight: 700;
                        "
                    >
                        <div class="orderedtitle">
                            <th class="id">ID</th>
                            <th class="name">CATEGORIA</th>
                        </div>
                        <div class="orderedB">
                            <th style="margin-right: 4px" class="actions">AÇÕES</th>
                        </div>
                    </tr>
                    <hr>
                </div>
            </thead>
            <tbody>
                <div *ngFor="let category of categorys; let i = index">
                    <div>
                        <tr>
                            <div class="orderedA">
                                <td
                                    style="display: flex; justify-content: center"
                                    class="id"
                                >
                                    {{ category.id }}
                                </td>
                                <td class="name">
                                    <span>{{ category.name }} </span>
                                </td>
                                <span style="width: 100%" class="line"></span>
                            </div>
                            <div
                                style="display: flex; justify-content: end"
                                class="orderedB"
                            >
                                <td>
                                    <a routerLink="editar-categoria">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                                <td>
                                    <a routerLink="deletar-categoria">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </div>
                        </tr>
                        <hr>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</mat-card> -->
