.card{
    padding: 20px;
    background-color: whitesmoke;
}
.title{
    color: #303030;
    font-family: 'Poppins';
    font-size: 20pt;
    font-weight: 600;
    word-spacing: 2pt;
    letter-spacing: 1pt;
}
.subtitle{
    color: #303030;
    padding-top: 10px;
    padding-left: 10px;
}