<form action="">
    <mat-card class="card">
        <mat-card-title class="titleProd"> PRODUTOS </mat-card-title>
        <div class="table">
            <ul class="tableProd" *ngFor="let produto of produtos; let i = index">
                <li>
                    <div class="listProd">
                        <div class="orderedA">
                            <span class="prodId">{{ produto.id }}</span>
                            <span class="prodName">
                                {{ produto.name | uppercase }}
                            </span>
                        </div>
                        <div class="orderedB">
                            <span class="prodPrice">compra ....
                                {{ produto.priceBuy | currency: "BRL"}}
                            </span>
                            <span class="prodPrice">venda ....
                                {{ produto.priceSale | currency: "BRL"}}
                            </span>
                            <span class="prodPrice">QTD ....
                                {{ produto.quantity}}
                            </span>
                            <div class="icons">
                                <a  style="color: #039AAB;"
                                    routerLink="/atualizar-produto/{{ produto.id }}"
                                    class="edit"
                                >
                                    <i class="material-icons"> edit </i>
                                </a>
                                <a
                                    style="color: #d32f2f"
                                    routerLink="/deletar-produto/{{ produto.id }}"
                                    class="delete"
                                >
                                <i class="material-icons"> delete </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
    </mat-card>
</form>
