<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-list class="nav-list">
      <div class="list-item">
        <div class="item-home">
          <a routerLink="inicio" href="">
            <i class="material-icons">
                home
            </i>
            <span>Inicio</span>
          </a>
        </div>
        <div class="item-products">
          <a routerLink="produtos" href="">
            <i class="material-icons">
                store
            </i>
            <span>Produtos</span>
          </a>
        </div>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>