<mat-card>
    <div class="mainContent">
        <mat-card-title>
            ATUALIZAR PRODUTO
        </mat-card-title>
        <form>
            <mat-form-field>
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="selectCategoryId" name="category">
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="produto.name" name="name">
            </mat-form-field>
        </form>
        <div class="Bt">
            <button class="bt1" (click)="productUpdate()">
                SALVAR
            </button>
            <button class="bt2" (click)="cancel()">
                CANCELAR
            </button>
        </div>
    </div>
</mat-card>
